<% content_for :navbar do %>
  <li><%= link_to 'iOS Apps', '', fragment: 'apps', class: 'page-scroll' %></li>
<% end %>

<section id="apps" class="features article-section gray-section p-b-lg">
  <div class="container">
    <div class="navy-line"></div>
    <h1>iOS Apps</h1>

    <div class="row">
      <div class="col-sm-6">
        <h2>
          <%= link_to 'Home', '/articles/homekitting-out-the-house/' %>
        </h2>

        <p>
          Some introduction to lorem ipsum.
        </p>
      </div>
    </div>
  </div>
</section>
