<section id="devices" class="features article-section white-section">
  <div class="container">
    <div class="navy-line"></div>
    <h1>HomeKit-enabled Hardware Devices</h1>

    <div class="row">
      <div class="col-sm-6">
        <h2>
          <%= link_to 'Elgato Eve', '/articles/homekitting-out-the-house/' %>
        </h2>

        <p>
          Some introduction to lorem ipsum.
        </p>
      </div>
    </div>
  </div>
</section>
